@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400i,500i,600i|Playfair+Display:700,900|Raleway:100,200,300,400');


/*
  CSS grid scaffolding provided by Erin Brown.
  http://github.com/umiami-web-design/grid-templates
*/


#wrapper{
    margin: 0 auto;
    max-width: 960px;
    margin-top:120px;
}


img {
    display:block;
    width:50%;
    height:50%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;

}

section{
  margin-bottom: 60px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-column-gap: 20px;
  grid-row-gap: 40px;

}


.grid h2{
  grid-column: 1;
  grid-row: 1/-1;

}


.grid > p{
  grid-column: 2;
  text-align: right;
}

.grid > p:after {
  content: "•";
  font-size: 36px;
  vertical-align: middle;
  color: rgb(173,60,60);
  line-height: 0.7;
  padding-left: 10px;
}


.grid h2,
.grid p,
.grid h3{
  margin: 0;
}



a {
  color: rgb(26, 25, 26);
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  border-style: hidden;
}

a:hover{
  color:rgb(173,60,60);
}

a:active{
  color:rgb(173,60,60);
  text-decoration: underline;
}


header {
  background-color: rgba(220,220,220,0.95);
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

header h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 20px;
  margin-left: 20px;
}

header h1,
nav {
  display: inline-block;
}

nav > ul {
  padding-left: 0;
  margin: 2em 0;
  list-style: none;
}

nav > ul > li {
  display: inline-block;
  margin-right: 1em;
  font-weight: bold;
}

nav > ul > li > a {
  font-weight: normal;
}

.grid h2{
  font-family: "Raleway", sans-serif;
  color:rgb(173,20,20);
  font-weight: bolder;
  font-size: 20px;
  text-transform: uppercase;

}


.grid > p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform:uppercase;
}

.grid > div > h3{
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform:uppercase;
}

.grid > div > p,
.grid > div > p > a{
  display: inline-block;
  font-family: "EB Garamond";
  font-style: italic;
  text-transform: inherit;
  font-weight: 400;
  font-size: 18px;
}

.grid > div > p >a{
  padding-left: 0;
  padding-right: 0;
  padding-top: 3px;
  padding-bottom: 0;
}

#skill > ul{
margin-top: 0;

}

.grid > div > ul > li{
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 16px;
  margin: 5px;

}


#wrapper2{
  margin: 0 auto 0 auto;
  width: 100%;
  background-color: rgb(192,192,192);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right:60px;

}

body{
  margin: 0 auto;
}


.icon_list> li >h3{
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform:uppercase;
  margin:0;

}

.icon_list img{
  margin: 0;
}

ul .icon_list{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-top: 0;
  padding-left: 0;

}


.icon_list li{
  text-align: center;
  width:10%;
  height:10%;
  display: inline-block;
  vertical-align: middle;

}


#wrapper2 p{
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform:uppercase;
  margin:0;
  padding-left: 70px;

}
